name: CI/CD Pipeline
on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Test Image
        run: docker build -t vikas9dev/frontend:latest -f Dockerfile.dev .

      - name: Run Tests
        run: docker run -e CI=true vikas9dev/frontend npm run test -- --coverage
